# Server Configuration
PORT
NODE_ENV

# Database Configuration
MONGODB_URI

# JWT Configuration
JWT_SECRET_KEY
JWT_EXPIRES
COOKIE_EXPIRE

# Email Configuration (SMTP)
SMTP_HOST
SMTP_PORT
SMTP_USER
SMTP_PASS
EMAIL_FROM

CLIENT_URL

CAMPUS_LATITUDE
CAMPUS_LONGITUDE
CAMPUS_RADIUS

# Gemini AI Chatbot
GEMINI_API_KEY